<html>
  <head>
    <title>CreateProfile</title>
      {% block head %}
      <link rel = "stylesheet" type = "text/css" media = "screen" href = "/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
      <link rel = "stylesheet" type = "text/css" media = "screen" href = "/bootstrap-3.1.1-dist/css/bootstrap.min.css">
      {% endblock %}
  </head>
{% if message %}
  <b>{{ message }}</b>
{% endif %}

<form class = "form-horizontal" role = "form" action = "/create/save" method = "post">{% csrf_token %}
  <div class = "form-group">
  <label for = "id_name" class = "col-sm-2 control-label">Name:</label>
    <div class = "col-sm-10">
      <input id = "id_name" class = "form-control" type = "text" name = "name" maxlength = "100" required autofocus>
    </div>
  </div>
  <div class = "form-group">
  <label for = "id_age" class = "col-sm-2 control-label">Age:</label>
    <div class = "col-sm-10">
      <input id = "id_age" class = "form-control" type = "text" name = "age" maxlength = "10" required autofocus>
    </div>
  <div>
  <div class = "form-group">
  <label for = "id_sex" class = "col-sm-2 control-label">Sex:</label>
    <select class = "form-control" name="sex" id="id_sex">
      <option value = "Male">Male</option>
      <option value = "Female">Female</option>
    </select>
  <div>
  <div class = "form-group">  
  <label for = "id_location" class = "col-sm-2 control-label">Location:</label>
    <div class = "col-sm-10">
      <input id = "id_location" class = "form-control" type = "text" name = "location" maxlength = "100" required autofocus>
    </div>
  </div>
  <div class = "form-group">
  <label for = "id_phone" class = "col-sm-2 control-label">Phone:</label>
    <div class = "col-sm-10">
      <input id = "id_phone" class = "form-control" type = "text" name = "phone" maxlength = "10" required autofocus>
    </div>
  </div>
  <div class = "form-group">
  <label for = "id_email" class = "col-sm-2 control-label">Email:</label>
    <div class = "col-sm-10">
      <input id = "id_email" class = "form-control" type = "text" name = "email" maxlength = "100" required autofocus>
    </div>
  </div>
  <div class = "form-group">
    <div class = "col-sm-offset-2 col-sm-10">
    <button type = "submit" value = "Submit" class = "btn btn-default">Submit</button>
    </div>
  </div>
</form>