{% if message %}
  <b>{{ message }}</b>
{% endif %}

<form action = "/create/login" method = "post">{% csrf_token %}
  <p><label for = "id_username">Username:</label>
      <input id = "id_username" type = "text" name = "username" maxlength = "100" required autofocus>
  <p><label for = "id_password">Password:</label>
      <input id = "id_password" type = "password" name = "password" maxlength = "100" required autofocus>
  <p><input type = "submit" value = "Submit"/>
</form>